header {
    width: 90%;
    border: 1px solid palevioletred;
    margin: 30px auto;
    text-align: center;
}
header h1 {
    color: blue;
}
header img {
    width: 40%;
    border: 2px solid palevioletred;
    border-radius: 50%;
}
header button {
    display: block;
    margin: 30px auto;
    padding: 10px 30px;
    background-color: antiquewhite;
    border: none;
    border-radius: 12px;
}
header button:hover {
    background-color: aqua;
    color: blue;
}

.about {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 30px;
}

.about p {
    padding-left: 40px;
    margin: auto;
}

.about img {
    width: 40%;
}

#about {
    width: 90%;
    border: 1px solid #F0A8D0;
   margin: 30px auto;
   padding: 40px 30px;
   display: flex;

}